In [3]:
list_pizza=['Seven_cheese','Margarita','Italian']

for pizza in list_pizza:
    print(f"{pizza} is my one of the favourite Pizza")
print("Pizza are my favourite food. \nI am able to eat the pizza whole year without any hesitation.\nI love the Pizza most")

Seven_cheese is my one of the favourite Pizza
Margarita is my one of the favourite Pizza
Italian is my one of the favourite Pizza
Pizza are my favourite food.
I am able to eat the pizza whole year without any hesitation.
I love the Pizza most

In [15]:
list_animal={"lion": "he is the king of animal",
             "tiger": 'it is the meat eating animal',
             "cheeta": 'it is the fastest animal in land'}
for animal in list_animal:
    print(animal)
for animal,sent in list_animal.items():
    print(f'{ animal}, {sent}')
print(" The given animal are the meat eating animal and it does not use for the pet")

lion
tiger
cheeta
lion, he is the king of animal
tiger, it is the meat eating animal
cheeta, it is the fastest animal in land
 The given animal are the meat eating animal and it does not use for the pet

In [7]:
for num in range(1,21):
    print(num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [35]:
million=[]
for i in range(0,100000):
    million.append(i)

In [37]:
print(min(million))
print(max(million))

0
99999

In [16]:
sum=0
for i in range(0,100000):
    sum=i+sum
print(sum)

4999950000

In [18]:
for i in range(0,21):
    if i%2!=0:
        print(i)

1
3
5
7
9
11
13
15
17
19

In [20]:
tuple_food=('samosa','bhel','pulav','pav bhaji','sandwich')
for i in tuple_food:
    print(i)
tuple_food[1]='pani puri'

samosa
bhel
pulav
pav bhaji
sandwich

TypeError: 'tuple' object does not support item assignment

In [45]:
list_food=[]
for i in tuple_food:
    list_food.append(i)
new_food=['salad','pasta']
for i in new_food:
    list_food.pop()
    list_food.append(i)
    
for i in list_food:
    print(i)

samosa
bhel
pulav
pav bhaji
pasta

In [46]:
def make_shirt(size,text):
    print(f'The Size of the shirt is {size}, and print the tsirt with {text}')

make_shirt("M","Swagger")

The Size of the shirt is M, and print the tsirt with Swagger

In [58]:
print(make_shirt("M","Swagger"))

The Size of the shirt is M, and print the tsirt with Swagger
None

In [56]:
def describe_person(size="L", text="I love python"):
    print(f"Size of the tshirt {size}, and print on the tshirt {text}.")

# Calling the function with all arguments
describe_person()

# Calling the function with only required arguments, using default values for the others
describe_person("S", "i love java")  # Output: Bob is 25 years old, lives in Unknown, and is Unknown.

Size of the tshirt L, and print on the tshirt I love python.
Size of the tshirt S, and print on the tshirt i love java.

In [60]:
def describe_city(city,country="India"):
    print(f" {city} is in the {country} country")
describe_city('Ahemdabad')
describe_city('Mumbai')
describe_city('toronto','Canada')

 Ahemdabad is in the India country
 Mumbai is in the India country
 toronto is in the Canada country

In [1]:
def country_city(city,country):
    text= city+ "|" +country
    return text

In [2]:
a=country_city('Ahemdabad','India')
print(a)

Ahemdabad|India